.six h1 {
    text-align: center;
    color:#222; font-size:30px; font-weight:400;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px; color:#c50000;
    padding-top: 5%;
    font-size: 60px;
  }
  
  }
  .six h1:after, .six h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45px;
    height: 4px;
    content: "";
    right: 45px; 
    margin:auto;
    background-color: #ccc;
  }
  .six h1:before { 
  background-color:#d78b8b;
    left:45px; width:90px;
  }
 
.button{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  
  .thirddiv {
    border: 1px solid gray;
   padding-left: 3%;
   padding-top: 1%;
   padding-right: 3%;
   padding-bottom: 1%;
   
      display: flex;
      justify-content: center;
      align-items:center;
      height: 130px;
     
    
    
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
  
 .secdiv {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
    font-size:  25px ;
    padding-left: 5%;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;
  }

  #other {
     text-align: center;
     align-content: space-around;
     padding-top: 32%;
     padding-bottom: 5%;
     font-family:Arial, Helvetica, sans-serif;
     font-size: medium;
     font-stretch: expanded;
     font-weight: 150;
     font-language-override: inherit;
      }
      
#videourl{
  box-shadow: #222;
  border: #d78b8b;
  padding-right: 2%;
  border-radius: 3px;
  b
  
}

#explain{
  
    text-align: center;
    align-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    /* padding-right=10%;
    padding-left=10%; */

    font-family:Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-stretch: expanded;
    font-weight: 150;
    
}
